In [ ]:
function1 = lambda x: x + 15
function2 = lambda x,y : x*y

print(function1(10))
print(function2(12,4))

In [ ]:
import random
r = lambda x: x*random.randint(1,10000)

print(r(10))

In [ ]:


def my_map(my_func,my_iter):
  result = []
  for item in my_iter:
    new_item = my_func(item)
    result.append(new_item)
  return result

nums = [3,4,5,6,7]

cubed = my_map(lambda x: x**3, nums)

print(cubed)

In [ ]:
list1 = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

In [ ]:
dict1 = [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

dict1.sort(key = lambda x: dict

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_nums = list(filter(lambda x: x%2 == 0, nums))
odd_nums = list(filter(lambda x: x%2 != 0, nums))

print(even_nums)
print(odd_nums)

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def squared():
  list2 = []
  for i in list2:
    new_item = list(map(lambda x: x**2))
    list2.append(new_item)

  return list2

In [ ]:
given_char = 'apples'

inside = lambda x: True if 'a' in given_char else False

print(inside)

<function <lambda> at 0x7d39c32f6170>